/* 基本样式 */
body {
    margin: 0; /* 移除默认边距 */
    padding: 0; /* 移除默认内边距 */
    background-color: #000ea4;
    background-image: url('images/bluesea.jpg'); /* 设置背景图片 */
    background-size: cover; /* 背景图片覆盖整个元素 */
    background-position: center; /* 背景图片居中显示 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    height: 100vh; /* 元素高度占满视口高度 */
    display: flex; /* 使用Flexbox布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    text-align: center; /* 文字水平居中 */
}


/* 图片样式 */
.image {
        width:  580px; /* 图片最大宽度为100% */
        height: 300px; /* 高度自适应 */
        display:    block; /* 移除图片的默认边框 */
}

/* 文字样式 */
.text {
    position: absolute; /* 绝对定位，相对于body定位 */
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 使用CSS transform属性进行居中调整 */
    color: aliceblue; /* 文字颜色，可以根据需要调整 */
    font-family: sans-serif;
    font-size: 20px; /* 文字大小，可以根据需要调整 */
    font-weight: bold; /* 文字加粗，可以根据需要调整 */
    text-align: center; /* 文字水平居中 */
    z-index: 10; /* 确保文字在图片上方 */
}
a:link {
                color:rgb(255, 255, 255);
                text-decoration:none;
            }
a:visited {
                color:rgb(237, 237, 239);
                text-decoration:none;
            }
a:hover {
                color:rgb(0, 157, 219);
                text-decoration:none;
            }
a:active {
                color:rgb(255, 255, 255);
                text-decoration:none;
            }
